<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Good.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,86}</string>
                <key>spriteSourceSize</key>
                <string>{345,86}</string>
                <key>textureRect</key>
                <string>{{475,435},{345,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Great.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,87}</string>
                <key>spriteSourceSize</key>
                <string>{398,87}</string>
                <key>textureRect</key>
                <string>{{0,552},{398,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Perfect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,86}</string>
                <key>spriteSourceSize</key>
                <string>{513,86}</string>
                <key>textureRect</key>
                <string>{{398,552},{513,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avaterCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calibration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{150,0},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,300}</string>
                <key>spriteSourceSize</key>
                <string>{32,300}</string>
                <key>textureRect</key>
                <string>{{155,0},{32,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energyBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,314}</string>
                <key>spriteSourceSize</key>
                <string>{46,314}</string>
                <key>textureRect</key>
                <string>{{187,0},{46,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,435}</string>
                <key>spriteSourceSize</key>
                <string>{723,435}</string>
                <key>textureRect</key>
                <string>{{233,0},{723,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameoverText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,117}</string>
                <key>spriteSourceSize</key>
                <string>{475,117}</string>
                <key>textureRect</key>
                <string>{{0,435},{475,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,482}</string>
                <key>spriteSourceSize</key>
                <string>{482,482}</string>
                <key>textureRect</key>
                <string>{{0,639},{482,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scorePic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,54}</string>
                <key>spriteSourceSize</key>
                <string>{271,54}</string>
                <key>textureRect</key>
                <string>{{482,639},{271,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showOffText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,38}</string>
                <key>spriteSourceSize</key>
                <string>{367,38}</string>
                <key>textureRect</key>
                <string>{{0,1121},{367,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,99}</string>
                <key>spriteSourceSize</key>
                <string>{413,99}</string>
                <key>textureRect</key>
                <string>{{367,1121},{413,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>static.png</string>
            <key>size</key>
            <string>{956,1220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:394fb7924da48aea0e4d575606c8a151:1d82d1de5e6787863cbc2304839e3b8a:740e8b278989ded0e6d093e12868dbf3$</string>
            <key>textureFileName</key>
            <string>static.png</string>
        </dict>
    </dict>
</plist>
