<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fallPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{0,104},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerJump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{102,110}</string>
                <key>textureRect</key>
                <string>{{281,104},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerJump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{102,110}</string>
                <key>textureRect</key>
                <string>{{383,104},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{102,110}</string>
                <key>textureRect</key>
                <string>{{179,104},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerRun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,103}</string>
                <key>spriteSourceSize</key>
                <string>{98,103}</string>
                <key>textureRect</key>
                <string>{{294,0},{98,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerRun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{98,0},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerRun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{392,0},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerRun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerRun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,103}</string>
                <key>spriteSourceSize</key>
                <string>{98,103}</string>
                <key>textureRect</key>
                <string>{{196,0},{98,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,109}</string>
                <key>spriteSourceSize</key>
                <string>{99,109}</string>
                <key>textureRect</key>
                <string>{{80,104},{99,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{490,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:794a71a2bf048d2c20e283eb4fd17b8a:69dc02d230bbb343d8750e2f46839d85:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
