<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shark1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,160}</string>
                <key>spriteSourceSize</key>
                <string>{309,160}</string>
                <key>textureRect</key>
                <string>{{585,0},{309,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,257}</string>
                <key>spriteSourceSize</key>
                <string>{331,257}</string>
                <key>textureRect</key>
                <string>{{651,160},{331,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,91}</string>
                <key>spriteSourceSize</key>
                <string>{385,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{385,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,240}</string>
                <key>spriteSourceSize</key>
                <string>{309,240}</string>
                <key>textureRect</key>
                <string>{{342,160},{309,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,347}</string>
                <key>spriteSourceSize</key>
                <string>{367,347}</string>
                <key>textureRect</key>
                <string>{{532,417},{367,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,531}</string>
                <key>spriteSourceSize</key>
                <string>{385,531}</string>
                <key>textureRect</key>
                <string>{{508,764},{385,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,271}</string>
                <key>spriteSourceSize</key>
                <string>{266,271}</string>
                <key>textureRect</key>
                <string>{{0,417},{266,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,230}</string>
                <key>spriteSourceSize</key>
                <string>{342,230}</string>
                <key>textureRect</key>
                <string>{{0,160},{342,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,297}</string>
                <key>spriteSourceSize</key>
                <string>{266,297}</string>
                <key>textureRect</key>
                <string>{{266,417},{266,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,359}</string>
                <key>spriteSourceSize</key>
                <string>{199,359}</string>
                <key>textureRect</key>
                <string>{{0,764},{199,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,380}</string>
                <key>spriteSourceSize</key>
                <string>{309,380}</string>
                <key>textureRect</key>
                <string>{{199,764},{309,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sharkFin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,113}</string>
                <key>spriteSourceSize</key>
                <string>{200,113}</string>
                <key>textureRect</key>
                <string>{{385,0},{200,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shark.png</string>
            <key>size</key>
            <string>{982,1295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0565b2b1aa2a172ce7348aa145f9053:0273edabf118c3cd429298c1c3945f44:cb192b5cd921d36008a17864052c6b72$</string>
            <key>textureFileName</key>
            <string>shark.png</string>
        </dict>
    </dict>
</plist>
