<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,158}</string>
                <key>spriteSourceSize</key>
                <string>{217,158}</string>
                <key>textureRect</key>
                <string>{{0,0},{217,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,145}</string>
                <key>spriteSourceSize</key>
                <string>{164,145}</string>
                <key>textureRect</key>
                <string>{{217,0},{164,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,127}</string>
                <key>spriteSourceSize</key>
                <string>{175,127}</string>
                <key>textureRect</key>
                <string>{{0,158},{175,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,102}</string>
                <key>spriteSourceSize</key>
                <string>{69,102}</string>
                <key>textureRect</key>
                <string>{{175,158},{69,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,101}</string>
                <key>spriteSourceSize</key>
                <string>{53,101}</string>
                <key>textureRect</key>
                <string>{{244,158},{53,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{38,94}</string>
                <key>textureRect</key>
                <string>{{297,158},{38,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage.png</string>
            <key>size</key>
            <string>{381,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c26fbe4831822828b128aae05a56d0:ddf7f916011df3bc1146a8898be17529:7eb5439bbe0a439972743765553c9929$</string>
            <key>textureFileName</key>
            <string>stage.png</string>
        </dict>
    </dict>
</plist>
