<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,141}</string>
                <key>spriteSourceSize</key>
                <string>{434,141}</string>
                <key>textureRect</key>
                <string>{{0,765},{434,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,63}</string>
                <key>spriteSourceSize</key>
                <string>{337,63}</string>
                <key>textureRect</key>
                <string>{{0,420},{337,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{144,0},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goBackHomeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,79}</string>
                <key>spriteSourceSize</key>
                <string>{179,79}</string>
                <key>textureRect</key>
                <string>{{0,104},{179,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>navigate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,141}</string>
                <key>spriteSourceSize</key>
                <string>{434,141}</string>
                <key>textureRect</key>
                <string>{{0,624},{434,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palyAgainBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,79}</string>
                <key>spriteSourceSize</key>
                <string>{191,79}</string>
                <key>textureRect</key>
                <string>{{179,104},{191,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,78}</string>
                <key>spriteSourceSize</key>
                <string>{198,78}</string>
                <key>textureRect</key>
                <string>{{0,183},{198,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,79}</string>
                <key>spriteSourceSize</key>
                <string>{178,79}</string>
                <key>textureRect</key>
                <string>{{248,0},{178,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruleBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,78}</string>
                <key>spriteSourceSize</key>
                <string>{198,78}</string>
                <key>textureRect</key>
                <string>{{198,183},{198,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showoffBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,141}</string>
                <key>spriteSourceSize</key>
                <string>{434,141}</string>
                <key>textureRect</key>
                <string>{{0,483},{434,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,159}</string>
                <key>spriteSourceSize</key>
                <string>{239,159}</string>
                <key>textureRect</key>
                <string>{{0,261},{239,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{434,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e026f5d5b5fdd2dcb553c6d68a0fc32:0d3115fe7b3233371969dcdf3198e979:21888b5a08ea8ad38b3bfcc0abc07d4d$</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
